<a href="https://colab.research.google.com/github/ruthybabe/ruthybabe/blob/main/PYTHON%20PROGRAMMING%20LANGUAGE%20%20-%20AltSchool%20Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Python Variable and setting up**

In [48]:
# Creating a variable

# We use a single equals sign to assign labels to variables.

Greetings = 'Hello world!'

print(Greetings)

Hello world!

In [5]:
statement = ('nnamdi is a very troublesome old man')

In [6]:
print(statement)

nnamdi is a very troublesome old man

In [51]:
age = 27

In [52]:
age

27

In [53]:
age = age + age

In [54]:
age

54

In [117]:
# Reassigning age Yes! Python allows you to write over assigned variable names

# We can also use the variables themselves when doing the reassignment

age = 50

In [118]:
age + 50

100

In [ ]:
# There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using +=, -=, *=, and /=.

In [119]:
age += 10

In [120]:
age

60

### **Formatting print statement**

In [20]:
# The print statement is what we use to show result in python

# '.format' function

In [8]:
num = 7
name = 'ruth'

In [21]:
print('my number is {} and my name is {}'.format(num,name))

my number is 7 and my name is ruth

In [14]:
# Self Introduction - Using the '.format' function to format the print statement

greetings = 'Hello, everyone!'

name = 'ruth'

location = 'lagos, nigeria.'

current_profession = 'customer experience specialist.'

print(' {} my name is {} based in {} and i currently work as a {}'.format( greetings, name, location, current_profession ))

 Hello, everyone! my name is ruth based in lagos, nigeria. and i currently work as a customer experience specialist.

In [22]:
# Self Introduction - First Assignment from susan odere - using the 'def' function to difine " Introduction "

# greetings = 'Hello, everyone!'

# name = 'ruth'

# location = 'lagos, nigeria.'

# current_profession = 'customer experience specialist.'

# introduction = greetings + ' my name is ' + name + ' based in ' + location + ' currently working as a ' + current_profession + 'amala' + food

# print(introduction)

def introduction(greetings, name, location, current_profession, food):
  print(greetings + ' my name is ' + name + ' based in ' + location + ' currently working as a ' + current_profession + ' and ' + ' i love ' + food);



introduction('Hello, everyone!', 'ruth', 'lagos, nigeria', 'customer experience specialist', 'amala')
introduction('Hello, everyone!', 'micheal', 'lagos, nigeria', 'product designer', 'pepper soup')

Hello, everyone! my name is ruth based in lagos, nigeria currently working as a customer experience specialist and  i love amala
Hello, everyone! my name is micheal based in lagos, nigeria currently working as a product designer and  i love pepper soup

In [25]:
# labeling with intuition - Not readable

a_t = 23

print(a_t)

23

In [26]:
# intuitive labeling - readable

age_of_teens = 23

print(age_of_teens)

23

## **Strings**

In [37]:
# strings - indexing a string

# indexing at python starts at 0 and uses the [] bracket

In [38]:
s = 'greetings'

In [39]:
print( s [6])

n

In [40]:
# slice notation - use to take some parts of a string or slices of a string

# basically removing some part of a string (including & excluding)

# column notation - also known as slice syntax

In [41]:
s = 'abcdefghijklmnopqrstuvwxyz'

In [42]:
print(s[0:])

abcdefghijklmnopqrstuvwxyz

In [43]:
print(s[:11])

abcdefghijk

In [44]:
print(s[0:11])

abcdefghijk

In [45]:
print(s[3:6])

def

In [46]:
print(s[:])

abcdefghijklmnopqrstuvwxyz

In [58]:
# Comments - writing a string - using the single quote (')

study = 'learning'

In [59]:
study_a_course = 'Learning introduction to python'

In [60]:
print(study)

learning

In [61]:
print(study_a_course)

Learning introduction to python

In [62]:
# creating a string using double quotes

study_a_language = "Learning a new language"

In [63]:
print (study_a_language)

Learning a new language

In [64]:
# Use double quotes ("") when Apostrophe is introduced in a string

study_in_a_school = "TalentQL's Learning series"

In [65]:
print(study_in_a_school)

TalentQL's Learning series

In [66]:
# Introducing the upper() method allows an all caps value

study_in_a_school.upper()

"TALENTQL'S LEARNING SERIES"

In [67]:
print(study_in_a_school.upper())

TALENTQL'S LEARNING SERIES

###**String Formatting**   **-** **"F - string"**

In [63]:
# string formatting can also be called string substitution

# it is a situation where you have to insert a string into another string

# it can also be used in debugging output

# recent type of string formatting is the 'f-string'

# you can also call a method inside an f-string, make valid expression

# f-strings are evaluated at run time

In [64]:
top_talent = 'ruth nwachukwu'
age = 27

In [65]:
print(f'{top_talent} graduated the top talent in her cohort, Karatu and she is only {age} years-old')

ruth nwachukwu graduated the top talent in her cohort, Karatu and she is only 27 years-old

In [66]:
print(f'{top_talent.upper()} graduated the top talent in her cohort, Karatu and she is only {age} years-old')

RUTH NWACHUKWU graduated the top talent in her cohort, Karatu and she is only 27 years-old

## **Numbers**

In [121]:
# You can check what type of object is assigned to a variable using Python's built-in type() function. Common data types include:

# int (for integer)
# float
# str (for string)
# list
# tuple
# dict (for dictionary)
# set
# bool (for Boolean True/False)

In [49]:
# how to use numbers in Python as a calculator

# Numbers: Integers

# Integers are whole numbers

Var = 65

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [22]:
# Introducing a type() function allows you know the type of value it is.

type(Study)

str

In [19]:
# Multiplication

Var*2

130

In [23]:
type(Var)

int

In [24]:
# Numbers: Floats

# Float are point numbers also called decimals

Var1 = 60.5

type(Var1)

float

In [25]:
# Division

Var1/2

30.25

In [13]:
# powers - exponentals

2**3

8

In [26]:
# roots can also be done this way rather than using raise to the power half

4**0.5

2.0

In [42]:
# Floor Division - takes out the decimals or fractions and returns an integer

7//4

1

In [43]:
7/4       # using division

1.75

In [46]:
# Modulo % - returns the remainder after division. it is the opposite of floor division

# percentage sign %

7 % 4

3

In [45]:
# order of operation followed in python - BODMAS

2 + 10 * 10 + 3

105

In [47]:
# Can use parentheses to specify orders

(2+10) * (10+3)

156

## **Comments**

In [80]:
# Comments are introduced with hash marks - examples are below;

# Here are numbers

# prime numbers

# levels of measurements

# Distance covered in a marathon

## **Introducing** **Lists**

In [81]:
# List - sequence of elements in a square bracket seperated by commas

# lists can take in different types of data types

# append function in a list is used to add an element at the end of a lsit

# A list is a sequence just like a string is; to grab the first item in a list,

# same bracket notation we used in a string

# reassigning a value to an index

# nest list - a list inside another list

# grabbing a value from a nested if

# multiple bracket in a list - nested list

# Lists are mutuable - you can change what is inside a list

In [68]:
# To create a list - Introduce a square brackets when creating lists

lst = ['string']

type(lst)

list

In [75]:
# Accessing lists

# List with different data types - example below;

lst = ['string', True, 35]

In [72]:
# Initialize with a list function

lst1 = list()

lst1

[]

In [76]:
# Access a list

# Len function - counts every elements inside a list

# Len function is an inbuilt python function

len(lst)

3

In [78]:
lst[0]

'string'

In [95]:
nest = ['come', 'play', 'eat', ['juggle', 'toogle', 'skip', ['pray']]]

In [91]:
print(nest[3][3][0])

pray

In [98]:
nest = [1, 2, 3, [4, 5, 6]]

In [99]:
print(nest)

[1, 2, 3, [4, 5, 6]]

In [100]:
print(nest[3][2])

6

## **Modifying** **lists**

In [91]:
# Creating a New List

lst2 = ['Ruth', 'Esther', 'Micheal','John', 'James', 'Peter']

# Adding an Element to the List

lst2[2] = 'Pablo'

lst2

['Ruth', 'Esther', 'Pablo', 'John', 'James', 'Peter']

In [92]:
# Adding an element to a list using insert Function

lst2.insert(2, 'Racheal')

lst2

['Ruth', 'Esther', 'Racheal', 'Pablo', 'John', 'James', 'Peter']

In [93]:
# Adding an element to a list using Append Function

lst2.append('Mudia')

lst2

['Ruth', 'Esther', 'Racheal', 'Pablo', 'John', 'James', 'Peter', 'Mudia']

In [94]:
# Removing an Element from a list

lst2.remove('John')

lst2

['Ruth', 'Esther', 'Racheal', 'Pablo', 'James', 'Peter', 'Mudia']

In [95]:
# Pop Method Or Function - using the pop function without specifying the number you want to pop removes the last name.

pop_lst = lst2.pop()

In [96]:
lst2

['Ruth', 'Esther', 'Racheal', 'Pablo', 'James', 'Peter']

In [97]:
pop_lst

'Mudia'

In [99]:
pop_pablo = lst2.pop(3)

lst2

['Ruth', 'Esther', 'Racheal', 'James', 'Peter']

In [100]:
pop_pablo

'Pablo'

## **Organizing** **a** **List**

In [101]:
# Using the sort() Method - Arranges the list in alphabetical order

# Using the copy()Method -  Copy the List

lst2_copy = lst2.copy()

In [102]:
lst2_copy

['Ruth', 'Esther', 'Racheal', 'James', 'Peter']

In [103]:
lst2_copy.sort()

In [104]:
lst2_copy

['Esther', 'James', 'Peter', 'Racheal', 'Ruth']

In [105]:
# Using The Sorted Method - sorts a list temporarily

sorted(lst2)

['Esther', 'James', 'Peter', 'Racheal', 'Ruth']

In [106]:
lst2

['Ruth', 'Esther', 'Racheal', 'James', 'Peter']

In [107]:
# Reverse order using the sort method - from back to front and we intoduce a parameter (reverse=True)

lst2_copy

['Esther', 'James', 'Peter', 'Racheal', 'Ruth']

In [108]:
lst2_copy.sort(reverse=True)

In [109]:
lst2_copy

['Ruth', 'Racheal', 'Peter', 'James', 'Esther']

In [110]:
# Reverse order Temporarily - using the sorted method

lst2

['Ruth', 'Esther', 'Racheal', 'James', 'Peter']

In [111]:
sorted(lst2,reverse=True)

['Ruth', 'Racheal', 'Peter', 'James', 'Esther']

In [112]:
lst2

['Ruth', 'Esther', 'Racheal', 'James', 'Peter']

In [113]:
# Len Function - counts the lenght of a list

len(lst2)

5

In [114]:
# Index Error

# Meaning the Index you are searcing for doesnt exist in the list

# List index out of range - Index Error

# Indexing starts from 0

lst2[4]

'Peter'

In [63]:
Bol = ['True']

print(Bol)

['True']

### **Working** **With** **A** **List**

In [64]:
# create a list

boys = ['tolu', 'michael','bolu','ben','ade','samuel','david','chidera',]

In [65]:
boys

['tolu', 'michael', 'bolu', 'ben', 'ade', 'samuel', 'david', 'chidera']

In [66]:
for names in boys:
  print(f"{names}, you can give a boy child")

print('\n')
print('this are individual names you can give a male child')

tolu, you can give a boy child
michael, you can give a boy child
bolu, you can give a boy child
ben, you can give a boy child
ade, you can give a boy child
samuel, you can give a boy child
david, you can give a boy child
chidera, you can give a boy child


this are individual names you can give a male child

### **Error Indentation**

In [67]:
# indentation error using a for loop - you forget to put a block space in the for loop

In [84]:
for names in boys:
print(f"{names}, you can give a boy child")

print('\n')
print('this are individual names you can give a male child')

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-84-6cb34b493694>, line 2)

In [90]:
# logical errors - when you indent additional lines or spaces you are not supposed too

# logical errors are errors that dont throw the error report message

# logical errors happens when the code does not produce the desired result



for names in boys:
   print(f"{names}, you can give a boy child")
   print('\n')

print('this are individual names you can give a male child')

tolu, you can give a boy child


michael, you can give a boy child


bolu, you can give a boy child


ben, you can give a boy child


ade, you can give a boy child


samuel, you can give a boy child


david, you can give a boy child


chidera, you can give a boy child


this are individual names you can give a male child

In [91]:
# invalid syntax error - happens in the for and while loops when you forget to add the colon (:)


for names in boys
   print(f"{names}, you can give a boy child")

print('this are individual names you can give a male child')
print('\n')

SyntaxError: expected ':' (<ipython-input-91-4920a71775db>, line 4)

### **Numerical List**

In [92]:
# Numbers in List

# The range function

# Using the range fuction to create a list

# List Comprehension - creates list with a short amount of code

In [161]:
# range function is a built in python function and it is a generator of numerical value

# rather than listing a long sequence of number you make use of the range function for easy listing

# range function is a short way of generating values

In [106]:
# For us to make a range a function you introduce the 'for' loop

# Range has 3 parameters - (start, stop, & step)

# using the range function it wont list out the last value, it stops at the second to the last

# range function only works for integers

# see example below

for n in range(0,9):
  print(n)

0
1
2
3
4
5
6
7
8

In [108]:
# putting the range numbers into a list

# giving the list a variable

test_list = list(range(0,11))

In [109]:
test_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### **List Comprehension**

In [163]:
# creating a list with list comprehension

# list comprehension creates list with short amounts of code

# this comprehension saves alot of writing, having a code in one line


square = []
for value in range(0,21):
  squares = value**2
print(squares)

400

In [111]:
square = []
for n in range(0,21):
  squares = n**2
square = square.append(squares)
print(squares)

400

In [112]:
# instead of writing that much code above we can say,

squares = [value**2 for value in range (0,21)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### **Slicing - Working with part of a list**

In [113]:
# Slicing a list - choosing the part of a list you like to work with.

# To slice you specify the index of the first and last element you want to work with

# To slice you make use of the colon notation

# Looping & Slicing

# making a copy of a list

In [114]:
foods = ['yam','rice','beans','spagetetti','pizza','salad','semo','vegetables']
print(foods)

['yam', 'rice', 'beans', 'spagetetti', 'pizza', 'salad', 'semo', 'vegetables']

In [115]:
foods [0:4]

['yam', 'rice', 'beans', 'spagetetti']

In [119]:
# using a 'FOR' loop and a slice

for names in foods [:6]:
  print(names)

yam
rice
beans
spagetetti
pizza
salad

In [121]:
# making a copy of a list without using the .copy() function

# you can also make a copy by using an empty index with a colon inside of it


foods = foods[:]

In [124]:
foods

['yam', 'rice', 'beans', 'spagetetti', 'pizza', 'salad', 'semo', 'vegetables']

###**Styling Your Code**

In [125]:
# PEP 8 - The idea behind PEP 8 is to write readeable codes.

# PEP 8 is a style guide for writing readeable codes.it is based on the premise that code is read much more than it is written.

# Best practices for writing codes;

#1 - Indentation - when writing codes it is important that you indent properly.

#2 - Tabs & Spaces - they make up for indentation

#3 - Maximum line length - best practices for writing comments is between 72 - 79 lines

#4 - Blank lines - when assigning a variable to an element, it is important to give blank spaces

#5 - Import statements - when you try to import ways or formulas to make your work easy

In [ ]:
#Indentation - when writing codes it is important that you indent properly.

foo = long_function_name(var_one, var_two,
                         var_three, var_four)

In [128]:
# best practice for import put it in different lines

import statistics
import math


# Not recommended

import statistics, math

###**Tuples**

In [162]:
# Tuples are data structures just like list. they are used to store collection of data

# Tuples are immutable, this means once created with elements, it cannot be modified

# tupple are used when you dont want a user to change what is inside the sequence of an object

# list are mutable; it can be modified

# tuple makes use of parentheses() and you can also loop through a tuple

In [136]:
# creating a tuple

# first we create a list

politicians = ['tinubu','buhari','obasanjo','atiku','peter obi','obama']

In [137]:
politicians

['tinubu', 'buhari', 'obasanjo', 'atiku', 'peter obi', 'obama']

In [142]:
politicians.insert(2, 'yaraduah')

In [139]:
politicians

['tinubu', 'buhari', 'obasanjo', 'atiku', 'peter obi', 'obama', 'yaraduah']

In [143]:
# creating a tuple - use of parentheses ()

politicians_t = ('tinubu', 'buhari', 'obasanjo', 'atiku', 'peter obi', 'obama', 'yaraduah')

In [144]:
politicians_t

('tinubu', 'buhari', 'obasanjo', 'atiku', 'peter obi', 'obama', 'yaraduah')

In [145]:
type(politicians)

list

In [146]:
type(politicians_t)

tuple

In [150]:
# Edit a tuple - you cant edit a tuple

# tuple does not have an attribute called insert

politicians_t[3]= 'wike'

TypeError: 'tuple' object does not support item assignment

In [151]:
# Loop through a tuple - you can loop through a tuple

for names in politicians_t:
  print(names)

tinubu
buhari
obasanjo
atiku
peter obi
obama
yaraduah

In [158]:
# Tho tuples are immutable; you can only overwrite a tuple by assigning its variable to another tuple

# overwrite a tuple means assigning the variable toanother value

politicians_t = ('bread','butter','sardine','milo','milk')

In [159]:
politicians_t

('bread', 'butter', 'sardine', 'milo', 'milk')

### **If Statements**

In [164]:
# If statement - Using a for loop, you can check if a condition is True or False

# checking conditional statement we use the double equal sign and it is called the equality operator in python

# the equality operator is used to confirm if a value is True / False in python

# Inequality operator -  determines if two values are not equal

# Numerical comparison operator - used in comparing numbers

# Multiple condition - IF / ELIF / ELSE

In [165]:
energy_drinks = ['monster','fearless','predator']

In [166]:
energy_drinks

['monster', 'fearless', 'predator']

In [172]:
for drinks in energy_drinks:
  if drinks == 'predator':
    print(f"i love {drinks}")
  else:
    print(f"i hate {drinks}")

i hate monster
i hate fearless
i love predator

In [202]:
for drinks in energy_drinks:
  if drinks == 'predator':
    print('i love {}'.format(drinks))
  else:
    print('i hate {}'.format(drinks))

i hate monster
i hate fearless
i love predator

In [204]:
for drinks in energy_drinks:
  if drinks == 'predator':
    print('i love {}'.format(drinks))
  else:
    print('i hate energy drinks in general' )

i hate energy drinks in general
i hate energy drinks in general
i love predator

In [174]:
statements = ['gadgets stolen', 'at satelite close 45 house 5']

In [175]:
statements

['gadgets stolen', 'at satelite close 45 house 5']

In [178]:
for sentences in statements:
  if sentences == 'gadgets stolen':
    print(f"chukwudi is the theif for {sentences}")
  else:
    print(sentences)

chukwudi is the theif for gadgets stolen
at satelite close 45 house 5

In [190]:
for sentences in statements:
  if sentences == 'gadgets stolen':
    print('chukwudi is the theif for {}'.format(sentences))
  else:
    print(sentences)

chukwudi is the theif for gadgets stolen
at satelite close 45 house 5

In [191]:
# A simple IF statements using the numerical comparison operator and evaluating only one condition

# In this simple IF statement, when the condition is true is prints out a response but when condition is not true is does not print out anything


age = 27
if age >= 18:
  print('you are eligible to vote')

you are eligible to vote

In [192]:
age = 15
if age >= 18:
  print('you are eligible to vote')

In [193]:
# IF / ELSE statements - makes it possible to test for two conditions

age = 15
if age >= 18:
  print('you are eligible to vote')
else:
  print("you are not eligible to vote")

you are not eligible to vote

In [185]:
# IF / ELIF / ELSE - makes it possible to test more than two conditions

if age < 4:
  print('cake is free')
elif age < 18:
  print('cake is N100')
else:
  print('cake is N200')

cake is N100

In [186]:
# Multiple ELIF statements

age = 4
if age < 4:
  print('cake is free')
elif age < 18:
  print('cake is N100')
elif age < 65:
  print('cake is 200')
else:
  print('cake is N50')

cake is N100

In [199]:
# Removing the ELSE statement

age = 50
if age < 4:
  print('cake is free')
elif age < 18:
  print('cake is N100')
elif age < 65:
  print('cake is 200')
elif age >= 65:
  print('cake is N50')

cake is 200

### **Special Items**

In [200]:
# Special statement is when we use a FOR loop and IF statement to loop through a list and pick out a special situation

In [208]:
job_openings = ['data scientist', 'data analyst', 'data engineer', 'data architect']


for jobs in job_openings:
    if jobs == 'data scientist':
        print("sorry, we are not hiring for a data science role")
    else:
        print("we are hiring for a  " +  jobs  +  ".")
print("\nThank you for checking our job openings.")

sorry, we are not hiring for a data science role
we are hiring for a  data analyst.
we are hiring for a  data engineer.
we are hiring for a  data architect.

Thank you for checking our job openings.

### **Dictionary**

In [2]:
# Creating a simple dictionary

user = {'name': 'ruth',  'age': 27,  'country': 'nigeria'}

In [3]:
print(user['name'])

ruth

In [4]:
user

{'name': 'ruth', 'age': 27, 'country': 'nigeria'}

In [5]:
# Adding key - value pairs

user['occupation'] = 'data analyst'

In [6]:
user

{'name': 'ruth', 'age': 27, 'country': 'nigeria', 'occupation': 'data analyst'}

In [7]:
user['position'] = 'Intern'

In [8]:
user

{'name': 'ruth',
 'age': 27,
 'country': 'nigeria',
 'occupation': 'data analyst',
 'position': 'Intern'}

In [9]:
# Modifying the user dictionary

user['position'] = 'associate data analyst'

In [10]:
user

{'name': 'ruth',
 'age': 27,
 'country': 'nigeria',
 'occupation': 'data analyst',
 'position': 'associate data analyst'}

In [11]:
# Remove key - value pair using the del function

del user['position']

In [12]:
user

{'name': 'ruth', 'age': 27, 'country': 'nigeria', 'occupation': 'data analyst'}